---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<p>
  Welcome to my data science portfolio, where I showcase my passion for extracting 
  meaningful insights from complex datasets. With a strong foundation in statistical 
  analysis, machine learning, and data visualization, I demonstrate a proven track 
  record of transforming raw information into actionable intelligence to drive 
  informed decision-making.
</p>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

